In [31]:
#Задание 1
#####################################

import pandas as pd
authors = pd.DataFrame({
  "author_id": [1, 2, 3],
  "author_name": ['Тургенев', 'Чехов', 'Островский']
})

book = pd.DataFrame({
  "author_id": [1, 1, 1, 2, 2, 3, 3],
  "book_title": ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты ипоклонники'],
  "price": [450, 300, 350, 500, 450, 370, 290]    
})

In [32]:
#Задание 2
#####################################

authors_price = pd.merge(authors, book, on='author_id', how='inner')
print(authors_price)

   author_id author_name           book_title  price
0          1    Тургенев          Отцы и дети    450
1          1    Тургенев                Рудин    300
2          1    Тургенев    Дворянское гнездо    350
3          2       Чехов     Толстый и тонкий    500
4          2       Чехов      Дама с собачкой    450
5          3  Островский                Гроза    370
6          3  Островский  Таланты ипоклонники    290

In [38]:
#Задание 3
#####################################

authors_price.sort_values(by="price", inplace=True)
top5 = authors_price.tail(5)

print(top5)

   author_id author_name         book_title  price
2          1    Тургенев  Дворянское гнездо    350
5          3  Островский              Гроза    370
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
3          2       Чехов   Толстый и тонкий    500

In [63]:
#Задание 4
#####################################

t = authors_price.groupby('author_name').agg({'price': ['min', 'max', 'mean']})

t.rename(columns={'min':'min_price', 'max':'max_price ', 'mean':'mean_price'}, inplace=True)


print(t)

                price
            min_price max_price   mean_price
author_name
Островский        290        370  330.000000
Тургенев          300        450  366.666667
Чехов             450        500  475.000000